.task {
  background: #61d6da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
@media (max-width: 479px) {
  .task {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px 10px 25px 10px;
  }
}

.completeTask {
  background: inherit;
  border: 2px solid #777373;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: none;
}
@media (max-width: 479px) {
  .completeTask {
    padding: 7px;
    margin: 10px 10px 25px 10px;
  }
}

.taskContent {
  width: 75%;
}
@media (max-width: 479px) {
  .taskContent {
    width: 100%;
    margin-bottom: 15px;
  }
}

.emptyHeader {
  display: none;
}

.taskHeader {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  background: linear-gradient(70deg, lightgray, white);
  padding: 3px;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 479px) {
  .taskHeader,
  .completeTaskHeader,
  .taskText,
  .completeTaskText,
  .onlyTaskText,
  .onlyTaskTextComplete {
    text-align: center;
  }
}

.completeTaskHeader {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  background: inherit;
  color: #777373;
  border: 2px solid #777373;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  padding: 5px;
}

.taskText {
  word-wrap: break-word;
  background: #fefefe;
  font-size: 20px;
  letter-spacing: 0.03rem;
  line-height: 25px;
  padding: 3px;
  border-radius: 0 0 5px 5px;
}

.completeTaskText {
  word-wrap: break-word;
  background: inherit;
  letter-spacing: 0.03rem;
  line-height: 25px;
  color: #777373;
  border: 2px solid #777373;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 3px;
}

.onlyTaskText {
  word-wrap: break-word;
  font-size: 20px;
  letter-spacing: 0.03rem;
  line-height: 25px;
  background: #fefefe;
  padding: 18px 18px 18px 5px;
  border-radius: 5px;
}
@media (max-width: 479px) {
  .onlyTaskText {
    padding: 5px;
  }
}

.onlyTaskTextComplete {
  word-wrap: break-word;
  font-size: 20px;
  letter-spacing: 0.03rem;
  line-height: 25px;
  color: #777373;
  border: 2px solid #777373;
  background: inherit;
  padding: 18px 18px 18px 5px;
  border-radius: 5px;
}
@media (max-width: 479px) {
  .onlyTaskTextComplete {
    padding: 5px;
  }
}

.complete {
  background: #f1ebc3;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #30c030;
  margin: 0 5px 0 10px;
  transition: all ease 0.2s;
}
.complete:hover {
  background: #d9d7c2;
}

@media (max-width: 479px) {
  .complete {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
}

.completeTrue {
  background: inherit;
  padding: 10px;
  border: 2px solid #777373;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #777373;
  transition: transform 0.3s;
  margin: 0 5px 0 10px;
}
@media (max-width: 479px) {
  .completeTrue {
    padding: 5px;
    margin: 0;
  }
}
.completeTrue:hover {
  background: inherit;
}

.delete {
  background: #f1ebc3;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #f1645f;
  transition: transform 0.3s;
  margin-left: 5px;
  transition: all ease 0.2s;
}
.delete:hover {
  background: #d9d7c2;
}
@media (max-width: 479px) {
  .delete {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
}

.deleteComplete {
  background: inherit;
  padding: 10px;
  border: 2px solid #777373;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #777373;
  transition: transform 0.3s;
  margin-left: 5px;
}
.deleteComplete:hover {
  background: inherit;
}
@media (max-width: 479px) {
  .deleteComplete {
    padding: 5px;
    margin: 0;
  }
}
