.task {
  background: #61d6da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}

.inputRadio {
  width: 20px;
  height: 20px;
}

.taskContent {
  width: 100%;
}

.taskHeader {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(70deg, lightgray, white);
  padding: 5px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px 0 10px;
}

.taskText {
  background: #fefefe;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  margin: 0 10px 0 10px;
}

.delete {
  padding: 6px 10px 0 10px;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #f1645f;
  transition: transform 0.3s;
  margin-left: 5px;
}
.delete:hover {
  background: lightgray;
  transform: scale(1.1);
}
