.btnReset {
  display: flex;
  justify-content: center;
}

.btn {
  background: #c45165;
  color: wheat;
  font-size: 3rem;
  padding: 6px 10px 0 10px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
  transition: transform 0.3s;
}

.btn:hover {
  background: #d66276;
  transform: scale(1.1);
}
@media (max-width: 479px) {
  .btn {
    margin-top: 10px;
    font-size: 2.5rem;
  }
}
