.myInput {
  display: flex;
  justify-content: space-between;
  background-color: #f37c70;
  padding: 0.94rem;
  margin: 1.25rem;
  border-radius: 0.63rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0rem rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 0.25rem 0.25rem 0.5rem 0rem rgba(34, 60, 80, 0.5);
  box-shadow: 0.25rem 0.25rem 0.5rem 0rem rgba(34, 60, 80, 0.5);
}

@media (max-width: 479px) {
  .myInput {
    padding: 0.63rem;
    margin: 0.63rem;
  }
}

.inputText {
  width: 80%;
  height: 2.5rem;
  font-size: 1.25rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 0.31rem;
  padding-left: 0.31rem;
  background: #fefefe;
  margin-right: 0.63rem;
}

.inputNoText {
  width: 80%;
  height: 2.5rem;
  font-size: 1.25rem;
  border-radius: 0.31rem;
  padding-left: 0.31rem;
  background: #fefefe;
  margin-right: 0.63rem;
  border: 0.13rem solid red;
}

h3 {
  color: red;
  margin-left: 1.25rem;
}

.img {
  font-size: 2.4rem;
  margin-right: 0.63rem;
}

.create {
  background: wheat;
  padding: 0.25rem 0.63rem 0rem 0.63rem;
  border-radius: 0.31rem;
  font-size: 1.8rem;
  color: #d66276;
  transition: transform 0.3s;
}

.create:hover {
  background: #f5e89a;
  transform: scale(1.1);
}

.textError {
  color: red;
  margin-left: 1.38rem;
}
